<section>

  <form [formGroup]='getAllWalletFormGroup'>

    <div class='form-row mb-4'>

      <div class='col'>

        <label for='startDate' class='grey-text'>Start Date</label>
        <input type='date' class='form-control' formControlName='startDate'>

      </div>

      <div class='col'>

        <label for='endDate' class='grey-text'>End Date</label>
        <input type='date' class='form-control' formControlName='endDate'>

      </div>

    </div>

    <div class='form-row mb-2 text-center'>

      <div class='col'>

        <button type='button' class='btn btn-success w-100' (click)='searchWallets()'>Search</button>

      </div>

      <div class='col'>

        <button type='button' class='btn btn-success w-100' (click)='openAddWalletDialog()'>Add new Wallet</button>

      </div>

    </div>

  </form>

  <div>

    <h1 class='text-center mt-5'>Wallets</h1>

    <div class='mt-5'>

      <div *ngFor='let wallet of getAllWalletResponseModel'>

        <div class='card text-center'>

          <div class='card-header'>

            <p class='text-success' *ngIf='wallet.isActive'>
              Open
            </p>

            <p class='text-danger' *ngIf='!wallet.isActive'>
              Closed
            </p>

          </div>

          <div class='card-body'>

            <h5 class='card-title'>{{wallet.name}}</h5>

            <a href='/' class='btn btn-primary mt-3 w-25'>View</a>

          </div>

          <div class='card-footer text-muted'>End Date: {{wallet.endDate | date}}</div>

        </div>

        <hr>

      </div>

    </div>

  </div>

</section>
